

<div class="row">
  <div class="col-2"></div>


  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <form class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label class="mr-5">id facture</label>
            <input type="number" class="form-control mr-5" name="id" ngModel>
          </div>
          <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
            <tr>
              <th>Date</th>
              <td>20-02-2022 22:47</td>
            </tr>
            <tr>
              <th>Customer name</th>
              <td>yahya</td>
            </tr>
            <tr>
              <th>Customer email</th>
              <td>yahya@gmail.com</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-dark mt-5">
          <thead>
            <tr>
              <th scope="col">produit</th>
              <th scope="col">prix sur facture</th>
              <th scope="col">prix du produit</th>
              <th scope="col">quantité</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let p of facture.productItems">
              <td>{{p.product.name}}</td>
              <td>{{p.product.price}}</td>
              <td>{{p.price}}</td>
              <td>{{p.quantity}}</td>
            </tr> -->
            <tr>
              <td>produit1</td>
              <td>20</td>
              <td>20</td>
              <td>2</td>
            </tr>
            <tr>
              <td>produit2</td>
              <td>40</td>
              <td>40</td>
              <td>2</td>
            </tr>
            <tr>
              <td>produit3</td>
              <td>50</td>
              <td>50</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-2"></div>
</div>
